.holder{
    background-color:rgb(121, 121, 121);
    display:flex;
    flex-wrap:wrap;
}
.card{
    width:40%;
    min-height:120px;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    margin:12px;
    padding:7px
}
#save{
    height: 30px;
    width: 100px;
    margin: 10px;
}
